.App {
  background: #ffcb2c;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  color: black;
}

.App-header h1 {
  padding: 0;
  margin: 0;
}

.App-header h1 img {
  height: 4em;
}

.App-intro {
  font-size: large;
}

.App-container {
  max-width: 960px;
  margin: 0 auto;
}

.App-landing {
  padding: 20px;
}

.App-facebook-button {
  background: #3d5a98;
  border-color: #4262a6;
  border-width: 1px;
  border-radius: 0.2em;
  color: white;
  font-weight: 600;
  padding: 0.5em;
  width: 100%;
  justify-content: center;
}

.App-facebook-button:hover {
  background-color: #334b7f;
}

.App-facebook-button img {
  filter: brightness(0%) invert();
}

@media(min-width: 600px) {
  .App-facebook-button {
    font-size: 200%;
  }
}
