.App {
  background: #ffcb2c;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  color: black;
}

.App-intro {
  font-size: large;
}

.App-container {
  padding: 20px;
}
